@tailwind base;
@tailwind components;
@tailwind utilities;

.svg {
  filter: invert(100%) sepia(13%) saturate(732%) hue-rotate(175deg)
    brightness(100%) contrast(98%);
}

body {
  background: #f7f0e2;
  color: #7c5633;
}
.modal {
  display: none;
}

.modal-label {
  transition: 0.3s ease;
  margin: 0.5rem;
  padding: 0.5rem 0.75rem;
  border: 2px solid #fab374;
  border-radius: 0.75rem;
}

.modal:checked + .modal-label {
  background-color: #e48a44;
  color: white;
}
