@tailwind base;
@tailwind components;
@tailwind utilities;

.svg {
  filter: invert(100%) sepia(13%) saturate(732%) hue-rotate(175deg)
    brightness(100%) contrast(98%);
}

body {
  background: #f7f0e2;
}
input {
  display: none;
}

label {
  border-radius: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  width: 100%;
  transition: 0.3s ease;

  background: #f5f7fb;
  border: 0.794239px solid #4d5b9e;
  box-sizing: border-box;
  border-radius: 7.94239px;

  padding-top: 5px;
  padding-bottom: 5px;
  padding: 5px 10px 5px 10px;
}

input:checked + label {
  background-color: teal;
  color: white;
}
